<div>
  <h1 class="font-bold text-4xl">StaticAboutPages#show</h1>
  <p>Find me in app/views/static_about_pages/show.html.erb</p>
</div>

<h1><%= @about_page.mission %></h1>
<h1><%= @about_page.vision %></h1>
<h1><%= @about_page.value %></h1>
<h1><%= @about_page.story %></h1>


